@import "../abstracts/mixins";
@import "../abstracts/variables";

nav {
  max-width: 1260px;
  margin: auto;
  height: 80px;
  //   background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-family: $raleway;
  font-weight: 700;

  img {
    width: 150px;
    cursor: pointer;
  }

  // About us button
  .aboutBtn {
    color: $dark-theme-color;
    font-family: inherit;
    font-weight: 700;

    &:before {
      top: 0;
      right: 0;
      @include transition();
    }
    &:after {
      bottom: 0;
      right: 0;
      @include transition();
    }
    &:hover {
      background-color: white;

      &:before,
      &:after {
        transform: scaleX(1);
      }
    }
  }
  .authStack {
    display: flex;
    align-items: center;
  }

  //login button
  .loginBtn {
    font-family: inherit;
    font-weight: inherit;
    @include button-layout($theme-color, $white);
    &:hover {
      background-color: $dark-theme-color;
    }
    width: 180px;
  }
}
