@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// abstracts
@import "./abstracts/mixins";
@import "./abstracts/variables";

//components
@import "./components/navbar";
@import "./components/footer";
@import "./components/tab";
@import "./components/activityIndicator";
@import "./components/modal";

//pages
@import "./pages/landing";
@import "./pages/account";
@import "./pages/login";
@import "./pages/home";

html,
body {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}

.appWrapper {
  max-width: 1260px;
  margin: auto;
}

.text-center {
  text-align: center;
}
th {
  font-family: $inter;
  color: $theme-color;
}

.flex {
  display: flex;
}
.justify {
  justify-content: center;
}
.align {
  align-items: center;
}
